<ion-header>
  <ion-toolbar>
    <ion-title>pageCategoriaAventura</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="https://ionicframework.com/docs/demos/api/card/madison.jpg"></ion-img>
  <ion-card-title>Card Title</ion-card-title>

  <ion-card-content>
    Keep close to Nature's heart... and break clear away, once in awhile,
    and climb a mountain or spend a week in the woods. Wash your spirit clean.
  </ion-card-content>

  <ion-button [routerLink]="['/detalle-aventura-uno']">detalle</ion-button>
    
</ion-content>
